body
{
 overflow-x: hidden;
 overflow-y: hidden;
}
#contact
{
   /*width: 60%;*/
   top: 30%;
   z-index: 800;
}




.background
{
   min-height: 100vh;
   min-width: 100%;
   width: auto;

   position:relative;
   /*overflow: hidden;*/
   z-index: 100;
   background-color: rgba(26, 26, 26, 0.5);
}

#head
{
   position: fixed;
   z-index: 2000;
}

ul, .col-xs-2 .men
{
   text-decoration: none;
   color: grey;

}


ul, .col-xs-2 a
{


   text-decoration: none;
   text-shadow: 5px;
   color: grey;

}
ul, .col-xs-2 .men
{
   top: 50px;
}

.menuicon
{
   border: 2px;
   border-style: solid;
   border-color: grey;
   padding: 0.7em;
   position: absolute;
   /*border-radius: 45%;*/


}

#cool
{

      z-index: 500;

      float: right;

}


/*========background video====*/

.vid
{

   min-width: 100%;
   min-height: 100vh;
   height: auto;
   width: auto;

   left: 0px;
   right: 0px;
   position: absolute;
   z-index: -1000;


   overflow: hidden;

}
#hom
{
   display: none;
   position: absolute;
   font-family: 'Satisfy', cursive;
   font-weight: bold;
   /*border: 2px;
   border-color: white;
   border-style: solid;*/
   padding: 0.7em;
   left: 40%;
   bottom: 40%;
   color: white;
   font-size: 400%;
}


.image
{
   background-image: url("C:/Users/admin/Desktop/Michael's/images/mike.jpg");
   background-size: contain;
   background-repeat: no-repeat;
   position: relative;
   top: 50%;
   height: 300px;
   /*left: 50%;*/
   width: 250px;
   float: right;

}
.intro
{
   display: none;
   color: white;
   font-size: 150%;
   position: absolute;
   left: 30%;
   bottom: 50%;
   z-index: 400;

}

.col-xs-1
{
   background-color: blue;
   z-index: 200;
   width: 50px;
   height: 50px;
   top: 50%;
   opacity: 0;
   /*display: none;*/

}

#contact
{
   z-index: 3000;
}

#cntim
{
   position: absolute;

   /*float: right;*/

}


.direction
{
   /*text-align: center;*/
   text-decoration: none;
   left: 50%;
   color: white;
   position: absolute;
   bottom: 0%;
   width: 50px;
   font-size: 200%;
   z-index: -4;


   animation: updown linear 1.5s infinite;
}

@keyframes updown {

   0% {bottom: 5%;}
   50% {bottom: 0%;}
   100% {bottom: 5%;}
}
.direction:hover
{
   color: white;
   text-decoration: none;
   animation-play-state: paused;


}


.iconp
{
   /*position: relative;*/
   /*top: 50px;*/
   background-color: rgb(166, 166, 166);
   opacity: 0.5;
   height: 40px;
   color: white;
   border: 100px;
   border-radius: 5%;
   float: left;
   margin-top: 0px;


}


.men
{
color: white;
border-width: medium;
border-color: white;
font-size: 160%;
top: 100px;
}


ul
{
   color: white;
   font-size: 150%;
   height: 2%;

}



.col-xs-2
{
   height: 200px;
   /*position: absolute;*/

}




#portfolio
{
   /*overflow-x: hidden;*/
   height: 100vh;
   width: 100%;
   /*top: 60%;*/
   border: 0;
   margin: 0;
   position: absolute;
   background-color: white;
   z-index: 5;
}
#port
{
   height: 100%;
   width: 100%;
   z-index: 400;
   /*position: absolute;*/
}
#port1
{
   background-image: url("../images/11813240_402994003232697_3949163505202265987_n.jpg");
   z-index: 1000;
   width: 100%;
   height: 100%;
   background-repeat: no-repeat;
   background-size: cover;
   /*float: right;
   left: -10%;
   top: 35%;*/
   border: 2px;
   margin: 3px;
   padding: 5px;
   transition: all 0.4s ease 0s;
   position: relative;
   opacity: 0.4;

}
#port2
{
   background-image: url("../images/pexels-photo-443430.jpeg");
   z-index: 1000;
   width: 100%;
   height: 100%;
   background-repeat: no-repeat;
   background-size: cover;
   /*float: right;
   left: -10%;
   top: 35%;*/
   opacity: 0.4;
   border: 2px;
   margin: 3px;
   padding: 5px;
   transition: all 0.4s ease 0s;
   position: relative;


}
#port3
{
   background-image: url("../images/pexels-photo-208101.jpeg");
   z-index: 1000;
   width: 100%;
   height: 100%;
   background-repeat: no-repeat;
   background-size: cover;
   /*float: right;
   left: -10%;
   top: 35%;*/
   opacity: 0.4;
   border: 2px;
   margin: 3px;
   padding: 5px;
   transition: all 0.4s ease 0s;
   position: relative;


}
#port4
{
   background-image: url("../images/pexels-photo-201802.jpeg");
   z-index: 1000;
   width: 100%;
   height: 100%;
   background-repeat: no-repeat;
   background-size: cover;
   /*float: right;*/
   /*left: -10%;*/
   /*top: 35%;*/
   /*border: 2px solid transparent;*/
   opacity: 0.4;
   margin: 3px;
   padding: 5px;
   position: relative;
   transition: all 0.4s ease 0s;


   /*overflow: hidden;*/
}
#over1
{
   height: 40%;
   top: -35%;
   left: 10%;

   width: 20%;
   top: 35%;
   overflow: hidden;
   border: 2px solid transparent;
   /*display: none;*/


   /*position: absolute;*/

}

.overflow
{
   width: 100%;
   height: 100%;
   /*transition: all 0.4s ease 0s;*/

   /*overflow: hidden;*/

}

hr
{
   /*color: grey;*/
   height: 1px;
   background-color: grey;
}

#hr1
{
   position: relative;
   top: 30%;
   z-index: 1000;
}

#hr2
{
   position: relative;
   top: 85%;
   /*width: 100%;*/
   z-index: 1000;
}
.icont
{
   color: white;
   position: absolute;
   top: 40%;
   font-size: 140%;
   left: 7%;
   text-shadow: 4px 4px 4px black;
   padding: 5px;

   z-index: 2000;

}

#port4:hover
{
   transform: scale(1.1);

}
#port3:hover
{
   transform: scale(1.1);

}
#port2:hover
{
   transform: scale(1.1);

}
#port1:hover
{
   transform: scale(1.1);

}

#blog1
{
   height: 100vh;
   width: 100%;
   z-index: 1500;
   position: relative;
   background-color: rgba(255, 100, 55, 0.5);
   display: none;
   color: blue;


}


#blog2
{
   height: 100vh;
   width: 100%;
   top: 200%;
   z-index: 1500;
   position: relative;
   background-color: rgba(255, 0, 0, 0.5);
   display: none;
   color: red;
}

#blog3
{
   height: 100vh;
   width: 100%;
   top: 200%;
   z-index: 1500;
   position: relative;
   background-color: rgba(255, 0, 0, 0.5);
   display: none;
   color: white;
}

#blog4
{
   height: 100vh;
   width: 100%;
   top: 200%;
   z-index: 1500;
   position: relative;
   /*background-color: rgba(255, 0, 0, 0.5);*/
   background: linear-gradient(90deg,white,white,70%,blue);
   display: none;
   color: green;
}
