body
{

 overflow-x: hidden;
 overflow-y: hidden;
}

#loader-wrapper
{
   height: 100vh;
   width: 100vw;
   background: linear-gradient(45deg,#4dff4d,#33ff33,70%,#4dffb8);

   z-index: 6000;
   position: fixed;
}

#loader
{
   display: block;
   position: relative;
   left: 55%;
   top: 50%;
   font-size: 450%;
   color: white;


   width: 150px;
   height: 150px;
   margin: -75px 0 0 -75px;


   animation: pulse 2s infinite linear;
}

@keyframes pulse {
    0%{opacity: 1;}
    50%{opacity: 0.1;}
    100%{opacity: 1;}
}

#contact
{
   /*width: 60%;*/
   top: 30%;
   z-index: 800;
}




.background
{
   min-height: 100vh;
   min-width: 100%;
   width: auto;

   position: relative;
   /*overflow: hidden;*/
   z-index: 100;
   background-color: rgba(26, 26, 26, 0.5);
}

#head
{
   position: fixed;
   z-index: 2000;
}

ul, .col-xs-2 .men
{
   text-decoration: none;
   color: grey;

}


ul, .col-xs-2 a
{
   /*font-family: 'Lobster Two', cursive;*/


   text-decoration: none;
   text-shadow: 5px;
   color: grey;

}
ul, .col-xs-2 .men
{
   top: 50px;
}

.menuicon
{
   border: 2px;
   border-style: solid;
   border-color: grey;
   /*padding: 0.7em;*/
   /*position: fixed;*/
   /*border-radius: 45%;*/


}

/*.navbar
{
   background-color: rgba(0, 0, 0, 0.5);
}*/


#cool
{

      z-index: 500;
      width: 300px;

      float: right;

}


/*========background video====*/

.vid
{

   min-width: 100%;
   min-height: 100vh;
   height: auto;
   width: auto;

   left: 0px;
   right: 0px;
   position: absolute;
   z-index: -1000;


   overflow: hidden;

}
#hom
{
   display: none;
   position: absolute;
   font-weight: bold;
   text-align: center;
   font-family: 'Lobster Two', cursive;
   margin: 0 auto;
     left: 0;
   right: 0;
   max-width: 80%;
   bottom: 40%;
   color: white;
   font-size: 400%;
}


.image
{
   /*background-image: url("../images/10897831_327701694095262_1266061200535503133_n.jpg");*/
   background-size: cover;
   background-repeat: no-repeat;
   position: relative;
   top: 50%;
   height: 300px;
   /*left: 50%;*/
   width: 250px;
   float: right;

}

.img-responsive
{
   width: 100%;
   height: 100%;
}




.intro
{
   display: none;
   color: white;
   font-size: 150%;
   position: absolute;
   text-align: center;
   font-family: 'Lobster Two', cursive;
   margin: 0 auto;
     left: 0;
   right: 0;
   max-width: 80%;
   width: 60%;

   bottom: 0;
   top: 40%;
   z-index: 400;

}


#contact
{
   z-index: 3000;
}

#cntim
{
   position: absolute;

   /*float: right;*/

}
#img1
{
   height: 400px;
   overflow: hidden;
}

.img1
{
   width: 100%;
   height: 400px;
   background-image: url("../images/10897831_327701694095262_1266061200535503133_n.jpg");

   background-size: cover;
   overflow: hidden;

   background-repeat: no-repeat;


}


.direction
{
   /*text-align: center;*/
   text-decoration: none;
   left: 50%;
   color: white;
   position: absolute;
   bottom: 0%;
   width: 50px;
   font-size: 200%;
   z-index: -4;


   animation: updown linear 1.5s infinite;
}

@keyframes updown {

   0% {bottom: 5%;}
   50% {bottom: 0%;}
   100% {bottom: 5%;}
}
.direction:hover
{
   color: white;
   text-decoration: none;
   animation-play-state: paused;


}


.iconp
{
   background-color: rgba(26, 26, 26, 0.5);

   /*opacity: 0.5;*/
   position: absolute;
   /*left: 0;*/
   top: 87%;
   height: 13%;
   width: 96%;
   color: rgb(255, 255, 255);
   border: 100px;
   border-radius: 5%;
}



.men
{
color: white;
border-width: medium;
border-color: white;
font-size: 160%;
top: 100px;
}


ul
{
   color: white;
   font-size: 150%;
   height: 2%;

}



.col-xs-2
{
   height: 200px;
   /*position: absolute;*/

}




#portfolio
{
   /*overflow-x: hidden;*/
   height: 100vh;
   width: 100%;
   /*margin-top: 100%;*/
   /*top: 60%;*/
   border: 0;
   margin: 0;
   /*position: relative;*/
   background-color: white;
   z-index: 5;
}
#port
{
   height: 100%;
   width: 100%;
   z-index: 400;
}
.thumbnail.a
{
   background-image: url("../images/11813240_402994003232697_3949163505202265987_n.jpg");
   /*z-index: 1000;*/
   width: 200px;

   /*height: 100%;*/
   background-repeat: no-repeat;
   background-size: cover;
   /*background-size: contain;*/

   /*border: 2px;
   margin: 3px;
   padding: 5px;*/
   transition: all 0.4s ease 0s;
   /*position: absolute;*/
   /*opacity: 0.65;*/

}
.thumbnail.b
{
   background-image: url("../images/pexels-photo-443430.jpeg");
   /*z-index: 1000;*/
   width: 200px;

   /*height: 100%;*/
   background-repeat: no-repeat;
   background-size: cover;
   /*background-size: contain;*/

   /*opacity: 0.65;*/
   /*border: 2px;
   margin: 3px;
   padding: 5px;*/
   transition: all 0.4s ease 0s;
   /*position: absolute;*/


}


.thumbnail.c
{
   background-image: url("../images/pexels-photo-208101.jpeg");
   /*z-index: 1000;*/
   width: 200px;


   /*height: 100%;*/
   background-repeat: no-repeat;
   background-size: cover;
   /*background-size: contain;*/
   /*float: right;
   left: -10%;
   top: 35%;*/
   /*opacity: 0.65;*/
   /*border: 2px;
   margin: 3px;
   padding: 5px;*/
   transition: all 0.4s ease 0s;
   /*position: absolute;*/


}
.navbar-brand
{
   position: relative;
   font-weight: bold;
   font-style: italic;
   font-family: 'Lobster Two', cursive;
   color: black;
   left: 0;
}

.thumbnail.d
{
   background-image: url("../images/pexels-photo-201802.jpeg");
   /*z-index: 1000;*/
   width: 200px;
   /*height: 100%;*/
   background-repeat: no-repeat;
   background-size: cover;
   /*background-size: contain;*/


   /*opacity: 0.65;*/
   /*margin: 3px;
   padding: 5px;*/
   /*position: absolute;*/
   transition: all 0.4s ease 0s;
}

.thumbnail
{
   /*background-image: url("../images/pexels-photo-201802.jpeg");*/
   width: 100%;
   height: 200px;

   /*width:20%;*/


}

hr
{
   /*color: grey;*/
   /*width: 90%;*/
   height: 1px;
   background-color: grey;
}

#hr1
{
   position: relative;
   top: 30%;
   z-index: 1000;
}

#hr2
{
   position: relative;
   bottom: 10%;

   /*width: 100%;*/
   z-index: 1000;
}
.a:hover
{
   background-color: white;

}
#a:hover
{
   background-color: white;

}

.icont
{
   color: white;
   /*position: relative;*/
   /*bottom: 50%;*/
   font-size: 100%;
   left: 7%;
   text-shadow: 4px 4px 4px black;
   padding: 5px;

   z-index: 50

}

.navbar
{
   background-color: rgba(0, 0, 0, 0.2);
}

#jumbo-bio
{
   position: fixed;
   top: 10%;
   width: 100%;
   height: 100vh;
}

.thumbnail a:hover
{
   text-decoration: none;
}



.thumbnail.d:hover
{
   transform: scale(1.1);

}
.thumbnail.c:hover
{
   transform: scale(1.1);

}
.thumbnail.b:hover
{
   transform: scale(1.1);

}
.thumbnail.a:hover
{
   transform: scale(1.1);

}
#link1
{
   font-family: 'Lobster Two', cursive;
}
#link2
{
   font-family: 'Lobster Two', cursive;

}
#link3
{
   font-family: 'Lobster Two', cursive;

}
#link4
{
   font-family: 'Lobster Two', cursive;
}


#blog1
{
   height: 100vh;
   width: 100%;
   z-index: 1500;
   position: relative;
   background-color: rgba(255, 100, 55, 0.5);
   background-image: url("../images/pexels-photo-110186.jpeg");
   background-size: cover;
   background-repeat: no-repeat;
   display: none;
   overflow-x: auto;
   color: blue;


}


#blog2
{
   height: 100vh;
   width: 100%;
   /*top: 200%;*/
   z-index: 1500;
   position: relative;
   background-color: rgba(255, 0, 0, 0.5);
   background-image: url("../images/pexels-photo-28480.jpg");
   background-size: cover;
   background-repeat: no-repeat;
   display: none;
   overflow-x: auto;

   /*padding: 5%;*/
   color: red;
}

#blog3
{
   height: 100vh;
   width: 100%;
   /*top: 200%;*/
   z-index: 1500;
   position: relative;
   background-color: rgba(255, 0, 0, 0.5);
   background-image: url("../images/pexels-photo-373511.jpeg");
   background-size: cover;
   background-repeat: no-repeat;
   display: none;
   color: white;
   overflow-x: auto;

}

#blog4
{
   height: 100vh;
   width: 100%;
   /*top: 200%;*/
   z-index: 1500;
   position: relative;
   background-image: url("../images/pexels-photo-268660.jpeg");
   background-size: cover;
   background-repeat: no-repeat;
   display: none;
   overflow-x: auto;

   color: green;
}
#blog4p1
{
   font-family: 'Lobster Two', cursive;

   background-color: rgba(0, 0, 0, 0.5);
   color: white;
   z-index: 2000;
}
#blog3p1
{
   font-family: 'Lobster Two', cursive;

   background-color: rgba(0, 0, 0, 0.5);
   color: white;
   z-index: 2000;
}
#blog2p1
{
   font-family: 'Lobster Two', cursive;

   background-color: rgba(0, 0, 0, 0.5);
   color: white;
   z-index: 2000;
}
#blog1p1
{
   font-family: 'Lobster Two', cursive;

   background-color: rgba(0, 0, 0, 0.5);
   color: white;
   z-index: 2000;

}
.modal-content
{
   background: linear-gradient(45deg,#4dff4d,#33ff33,70%,#4dffb8);
}
#close1
{
font-size: 100%;
font-weight: bold;
color: black;
border: 1px, black;
}

#close2
{
font-size: 100%;
font-weight: bold;
color: black;
}

#close3
{
font-size: 100%;
font-weight: bold;
color: black;
}

#close4
{
font-size: 100%;
font-weight: bold;
color: black;
}
.ad2
{
   margin-left: 30px;
}
.ad1
{
   color: black;
   margin-left: 30px;

}
.ad1:hover
{
   color: white;
   text-decoration: none;

}
.ic
{
   width: 20px;
   height: 20px;
   margin-right: 13px;
}
#theblog
{
   font-size: 120%;
}
.bloglink
{
   /*font-size: 50%;*/
}
.bloglink:hover
{
   text-decoration: none;
}

#b1p1
{
   text-align: justify;
}
